<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjt.project.mapper.CartMapper">

    <!--1. 장바구니 리스트 조회-->
    <select id="selectCartList" parameterType="Map" resultType="Map">
        SELECT C.USER_ID, C.PRODUCT_ID, P.PRODUCT_NAME, C.PRODUCT_CNT, P.PRICE * C.PRODUCT_CNT AS PRICE, 'false' as CHK_YN
        FROM CART AS C
                 LEFT JOIN PRODUCTS AS P ON C.PRODUCT_ID = P.PRODUCT_ID
        WHERE USER_ID = #{userId};
    </select>

    <!--2. 주문 테이블에 저장-->
    <insert id="insertOrder" parameterType="Map">
        INSERT INTO ORDERS (
                            ORDER_ID,
                            USER_ID,
                            ORDER_DATE,
                            TOTAL_PRICE,
                            REQUIRED_DATE,
                            SHIPPED_DATE,
                            SHIP_ADDR
                            )
        VALUES (
                #{orderId},
                #{userId},
                NOW(),
                ${totalPrice},
                DATE_ADD(NOW(), INTERVAL 3 DAY),
                DATE_ADD(NOW(), INTERVAL 2 DAY),
                #{addr}
                )
    </insert>

    <!--3. 주문 디테일 테이블에 저장-->
    <insert id="insertOrderDetail" parameterType="Map">
        INSERT INTO ORDERDETAIL (
            ORDER_ID,
            PRODUCT_ID,
            CNT
        )
        VALUES (
                   #{orderId},
                   #{productId},
                   ${cnt}
               )
    </insert>

    <!--4. 장바구니 테이블에서 삭제-->
    <delete id="deleteCartInfo" parameterType="Map">
        DELETE FROM CART WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId};
    </delete>

</mapper>